<app-header></app-header>

<div class="container">
    <h3>Lista de Personas</h3>

    <button type="button" class="btn btn-primary"(click)="registrarPerson()">Registrar nueva persona</button>


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">fullname</th>
            <th scope="col">birth</th>
            <th scope="col">mother</th>
            <th scope="col">father</th>
            <th scope="col">child</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let person of personas" (click)="editarPerson(person.id)">
            <th scope="row">{{person.id}}</th>
            <td>{{person.fullname}}</td>
            <td>{{person.birth}}</td>
            <td>{{person.mother}}</td>
            <td>{{person.father}}</td>
            <td>{{person.child}}</td>
        </tr>
        
        </tbody>
    </table>
</div>

<app-footer></app-footer>
